@use "material-symbols" as material-symbols with (
  $material-symbols-font-path: "/node_modules/material-symbols/"
);

$variant: ("outlined");

@function capitalize-first-letter($str) {
  $first-letter: str-slice($str, 1, 1);
  $rest: str-slice($str, 2);

  @return to-upper-case($first-letter) + $rest;
}

.c-icon {
  $parent: &;

  @each $v in $variant {
    &--#{$v} {
      @extend .material-symbols-#{$v};
      font-size: inherit;
    }
  }

  @extend #{$parent}--outlined;
}