@use "$styles/screen-width" as screen-width;

.appHeader {
  box-shadow: 0 0 10px #0001;
}

.articleWrapper {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin: 0 auto;
  margin: 20px auto;
  max-width: var(--app-max-width);
  padding: 0 20px;

  @include screen-width.down(sm) {
    padding: 0;
  }
}

.articleBody {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #0001;
  padding: 20px;
  min-width: 0;
}

.articleHeader {
  margin: 0 0 30px ;
}

.articleTitle {
  margin: 10px 0;
}

.articleMeta {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  &__item {
    align-items: center;
    display: flex;
    gap: 7px;
    margin: 0;
  }
}

.articleSidebar {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #0001;
  flex-shrink: 0;
  padding: 20px;
  width: 300px;

  @include screen-width.down("md") {
    display: none;
  }
}