.articleHeader {
  background-color: #fff;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 20px;

  &__inner {
    margin: 0 auto;
    max-width: var(--app-max-width);
  }
}

.articleTitle {
  margin: 10px 0;
}

.articleMeta {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  &__item {
    align-items: center;
    display: flex;
    gap: 7px;
    margin: 0;
  }
}

.articleBody {
  margin: 20px 0;

  &__inner {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin: 0 auto;
    max-width: var(--app-max-width);
  }
}

.articleContent {
  background-color: #fff;
  padding: 20px;
}

.articleSidebar {
  background-color: #fff;
  flex-shrink: 0;
  padding: 20px;
  width: 300px;
}